<% provide(:title, "Edit position") %>
<h1>Edit position</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin, @position]) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :abbreviation %>
      <%= f.text_field :abbreviation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>