<% provide(:title, 'Edit user') %>
<h1>Edit user</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin, @user]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h2>Basic information</h2>
      <%= f.label :name %>
      <%= f.text_field :name %>

	  <span>
      	<%= f.label "Date of birth" %>
      	<%= f.date_select :dob, start_year: 1900, end_year: 2014 %>
      </span>
      
      <%= f.label "Team"%>
      <%= f.number_field :team_id, min: 1 %>
      
	  <%= f.label "Position" %>
      <%= f.number_field :position_id, min: 1 %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <h2>Project list</h2>
      <% @projects.each do |project| %>
        <%= f.label project.name %>
        <%= check_box_tag "user[project_ids][]", project.id%>
      <% end %>  
      <p></p>
      
      <table>
     <thead>
       <tr>
         <th></th>
         <th>Skill</th>
         <th>Level</th>
         <th>Used_year</th>          
       </tr>
     </thead>
       <tbody>
       <%= f.fields_for :user_skills do |builder| %>
            <tr>
              <td><%= builder.check_box :_destroy, {},0,1%></td>
              <%= builder.hidden_field :skill_id%>         
              <td><%= builder.object.skill.try(:name) %></td>
              <td><%= builder.text_field :level%></td>
              <td><%= builder.text_field :used_year%></td>
            </tr>
          <% end %>
     </tbody>
        </table>
      <%= f.submit "Edit user", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>