<% provide(:title, 'Edit team') %>
<h1>Edit team</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin, @team]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description%>
      <%= f.text_field :description %>

	  <%= f.label :team_leader %>
      <%= f.number_field :team_leader, min: 1 %>

      <%= f.submit "Edit team", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>