<% provide(:title, 'All users') %>
<h1>All teams</h1>
 
<div class="span8">
  <li> <%= link_to @team.name, [:admin, @team] %> </li>
  <span class="content"> Description : <%= @team.description %> </span>
  <span class="content"> Leader: <%= @team.team_leader %> </span>

  <% if @team.users.any? %>
    <h3>Users (<%= @team.users.count %>)</h3>
    <% @users.each do |user| %>
      <%= link_to user.name, [:admin, user] %>
      <span class="content"><%= user.email %></span>
      <%= will_paginate @users %>
    <% end %>
  <% end %>

  <%= link_to "Edit ", edit_admin_team_path(@team.id),
                                class: "btn btn-large btn-primary" %>
  <%= link_to "Delete", [:admin,@team], method: :delete, class: "btn btn-large btn-primary" ,
                                data: { confirm: "You sure?" } %>
  <%= link_to "Assign User ", edit_admin_team_assign_team_member_path(@team.id),
                                class: "btn btn-large btn-primary" %>
    
 </div>